//
   Created by ahenriquez on 24-06-16.

html(ng-app="tender")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=9,IE=edge,chrome=1")

    title MercadoPublico

    link(rel="stylesheet", href="/vendor/styles.css")

  body

    .container-fluid
      h1 Tender
      ui-view

    script(src="/vendor/script.js")
    script(src="/scripts/locale.js")
    script(src="/scripts/lb-services.js")
    script(src="/scripts/app.js")
